{% load static %}
<section class="pop-cour">
        <div class="container com-sp pad-bot-70">

            <div class="row">
                <div class="ed-course">

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="ed-course-in">

						   <a class="course-overlay" href="{% url 'syllabus'%}">
                                <img src="{% static 'images/h-adm.jpg' %}" alt="">
                           <span>Syllabus</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="{% url 'notice' %}">
                                <img src="{% static 'images/h-about1.jpg' %}" alt="">
                                <span>Notice</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="{% url 'book_list' %}">
                                <img src="{% static 'images/h-adm.jpg' %}" alt="">
                                <span>Book List</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="{% url 'holiday_list' %}">
                                <img src="{% static 'images/h-cam1.jpg' %}" alt="">
                                <span>Holiday List</span>
                            </a>
                        </div>
                    </div>
					<div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="{% url 'fee' %}">
                                <img src="{% static 'images/h-about1.jpg' %}" alt="">
                                <span>Fee Structure</span>
                            </a>
                        </div>
                    </div>
					<div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="ed-course-in">
                            <a class="course-overlay" href="{% url 'gallery' %}">
                                <img src="{% static 'images/mm-col-bg.png' %}" alt="">
                                <span>Gallery</span>
                            </a>
                        </div>
                    </div>

            </div>
        </div>
    </section>
<!-- Footer start here  -->
    <!-- NEWS AND EVENTS -->
    <section >
        <div class="container com-sp">
            <div class="row">

            </div>
            <div class="row">
			<div class="col-md-4">
                    <div class="bot-gal h-blog ho-event">
                        <h4>News & Event</h4>
                        <div class="ho-event">
                            <ul>
                                <li>
                                    <div class="ho-ev-date"><span>07</span><span>jan,2020</span>
                                    </div>
                                    <div class="ho-ev-link">
                                        <a href="{% url 'notice' %}">
                                            <h4>New Admission</h4>
                                        </a>
                                        <p>Only one parent will report on given interaction date with registraton form duly filled and Nagar Nigam date if birth certificate for all classes<br>
Do not brign your clild / Ward on give interaction date only parents should report.<br>
Any Registration form without latest photograph will be rejected<br>
Any incomplete registration form will be rejected
</p>
                                        <span>9:15 am – 5:00 pm</span>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="bot-gal h-gal ho-event-mob-bot-sp">
                        <h4>Photo Gallery</h4>
                        <ul>
                            <li><img class="materialboxed" data-caption="Babu Mahadev Inter Collge " src="{% static 'images/ami/1.jpg' %}" alt=""></li>
                            <li><img class="materialboxed" data-caption="Babu Mahadev Inter Collge " src="{% static 'images/ami/2.jpg' %}" alt=""></li>
							<li><img class="materialboxed" data-caption="Babu Mahadev Inter Collge " src="{% static 'images/ami/3.jpg' %}" alt=""></li>
							<li><img class="materialboxed" data-caption="Babu Mahadev Inter Collge " src="{% static 'images/ami/8.jpg' %}" alt=""></li>
							<li><img class="materialboxed" data-caption="Babu Mahadev Inter Collge " src="{% static 'images/ami/9.jpg' %}" alt=""></li>
							<li><img class="materialboxed" data-caption="Babu Mahadev Inter Collge " src="{% static 'images/ami/10.jpg' %}" alt=""></li>

							<li><img class="materialboxed" data-caption="Babu Mahadev Inter Collge " src="{% static 'images/ami/12.jpg' %}" alt=""></li>
							<li><img class="materialboxed" data-caption="Babu Mahadev Inter Collge " src="{% static 'images/ami/15.jpg' %}" alt=""></li>
							<li><img class="materialboxed" data-caption="Babu Mahadev Inter Collge " src="{% static 'images/ami/14.jpg' %}" alt=""></li>

                        </ul>
						<br>


                    </div>
                </div>

    </section>





    <!-- FOOTER -->
    <section class="wed-hom-footer">
        <div class="container">

            <div class="row wed-foot-link">
                <div class="col-md-6 foot-tc-mar-t-o">
                    <h4>Menu</h4>
                    <ul>
                        <li><a href="{% url 'aim'%}">Aim & Objective</a></li>
                        <li><a href="{% url 'holiday_list'%}">list of holidays</a></li>

                        <li><a href="{% url 'facilities' %}">Facilities</a></li>
                        <li><a href="{% url 'curriculum' %}">Curriculum</a></li>
                        <li><a href="{% url 'co_curriculum' %}">Co-Curriculum Activities</a></li>
                        <li><a href="{% url 'exam' %}">Examination & Promotion</a></li>


                    </ul>
                </div>
                <div class="col-md-6">
                    <h4>&nbsp;</h4>
                    <ul>
                        <li><a href="{% url 'rules'%}">General Rules</a></li>
                        <li><a href="{% url 'rules' %}">Rules for Parents</a></li>
                        <li><a href="{% url 'admission'%}">Admission and Withdrawal</a></li>

                        <li><a href="{% url 'faculty' %}">Faculty</a></li>
                        <li><a href="{% url 'facilities' %}">Facilities</a></li>
                        <li><a href="{% url 'infrastructure' %}">School Infrastructure</a></li>
                    </ul>
                </div>

            </div>
            <div class="row wed-foot-link-1">
                <div class="col-md-4 foot-tc-mar-t-o">
                    <h4>Get In Touch</h4>
                    <p>Babu Mahadev Inter College Jhelampur Barkachh Dubar Kalan Mirzapur - 2313001 </p>
                    <p>Phone: <a href="#!">91- 9918805807</a></p>
                    <p>Email: <a href="#!">babumahadevintercollege@gmail.com</a></p>
                </div>
                <div class="col-md-4">
                    <h4>DOWNLOAD OUR FREE MOBILE APPS</h4>
                    <ul>
                        <li><a href="#"><span class="sprite sprite-android"></span></a>
                        </li>
                       <!-- <li><a href="#"><span class="sprite sprite-ios"></span></a>
                        </li>-->
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>SOCIAL MEDIA</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>




    <!-- SOCIAL MEDIA SHARE -->
    <section>
        <div class="icon-float">
            <ul>
                <li><a href="#" class="sh">4k <br> Share</a> </li>
                <li><a href="#" class="fb1"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="gp1"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="tw1"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="li1"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="wa1"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                <li><a href="#" class="sh1"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
    </section>

    <!--Import jQuery before materialize.js-->
    <script src="{% static 'js/main.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>

</html>
