{% load static %}
<section>
    <div class="ed-mob-menu">
        <div class="ed-mob-menu-con">
            <div class="ed-mm-left">
                <div class="wed-logo">
                    <a href="{% url 'home' %}"><img src="{% static 'images/strip.png' %}" alt="" />
        </a>
                </div>
            </div>
            <div class="ed-mm-right">
                <div class="ed-mm-menu">
                    <a href="#!" class="ed-micon"><i class="fa fa-bars"></i></a>
                    <div class="ed-mm-inn">
                        <a href="#!" class="ed-mi-close"><i class="fa fa-times"></i></a>
                        <h4>Menu</h4>
                        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About us</a></li>
            <li><a href="{% url 'message'%}">Message</a></li>
            <li><a href="{% url 'aim'%}">Aims & Objective</a></li>

            <li><a href="{% url 'facilities' %}">Facilities</a></li>
            <li><a href="{% url 'curriculum' %}">Curriculum</a></li>
            <li><a href="{% url 'co_curriculum' %}">Co-Curriculum Activities</a></li>
            <li><a href="{% url 'exam' %}">Examination & Promotion</a></li>

            <li><a href="{% url 'rules' %}">Rules</a></li>

            <li><a href="{% url 'admission' %}">Admission and Withdrawal</a></li>

            <li><a href="{% url 'faculty' %}">Faculity</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>

            <li><a href="{% url 'contact' %}">Contact us</a></li>


                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--HEADER SECTION-->
<section>
    <!-- TOP BAR -->
    <div class="ed-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="ed-com-t1-left">
                        <ul>
          <li><a href="#">School Code : 1292</a></li>

                            <li><a href="#">Babu Mahadev Inter College Jhelampur Barkachh Dubar Kalan Mirzapur - 231001</a></li>
                            <li><a href="#">Contact No. : 8545812194, 8009743516, 9918805807</a>
                            </li>
                        </ul>
                    </div>

                    <div class="ed-com-t1-social">
                        <ul>
                            <li><a href="{% url 'public_disclosure' %}" style="color:#FFFFFF"><i class="fa fa-list" aria-hidden="true"></i> PUBLIC DISCLOSURE</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- LOGO AND MENU SECTION -->
    <div class="top-logo" data-spy="affix" data-offset-top="250">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="wed-logo">
                        <a href="{% url 'home' %}"><img src="{% static 'images/strip.png' %}" alt="" />                             </a>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About us</a></li>
               <li><a href="{% url 'message' %}">Message</a></li>

                            <li class="about-menu">
                                <a href="#" class="mm-arr">Academics</a>
                                <!-- MEGA MENU 1 -->
                                <div class="mm-pos">
                                    <div class="about-mm m-menu">
                                        <div class="m-menu-inn">
                                            <div class="mm1-com mm1-s1">
                                                <div class="ed-course-in">
                                                    <a class="course-overlay menu-about" href="{% url 'admission' %}">
                                                        <img src="{% static 'images/h-about.jpg' %}" alt="">
                                                        <span>Babu Mahadev Inter College</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="mm1-com mm1-s2">
                                                <ul>
                                                    <li><a href="{% url 'aim' %}">Aims & Objective</a></li>
                                                    <li><a href="{% url 'curriculum' %}">Curriculum</a></li>

                                                   <li><a href="{% url 'strength' %}">School Strength</a></li>

                                                </ul>

                                            </div>
                                            <div class="mm1-com mm1-s3">
                                                <ul>

                                                    <li><a href="{% url 'co_curriculum' %}">Co-Curriculum Activities</a></li>
                         <li><a href="{% url 'exam' %}">Examination & Promotion</a></li>
                         <li><a href="{% url 'facilities' %}">Facilities</a></li>


                                                </ul>
                                            </div>
                                            <div class="mm1-com mm1-s4">
                                                <ul>

                                                    <li><a href="{% url 'rules' %}">Rules</a></li>


                                                    <li><a href="{% url 'admission' %}">Admission and Withdrawal</a></li>
                         <li><a href="{% url 'infrastructure' %}">School Infrastructure</a></li>



                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="{% url 'faculty' %}">Faculty</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>




                            <li><a href="{% url 'contact' %}">Contact us</a></li>

                    </div>
                </div>
                <div class="all-drop-down-menu">

                </div>

            </div>
        </div>
    </div>

</section>
<!--END HEADER SECTION-->
