{% extends 'base.html'%}
{% block content %}
{% load static %}












    <div class="search-top" style="padding:2px 0px">   </div>





    <section  >

            <div class="container com-sp pad-bot-70">

                <div class="row">

                    <div class="con-title">

                        <h2>About <span>Us</span></h2>

 <h2 style="font-size:25px; color: grey; font-family: Times New Roman;">&ldquo; Education is the key to success in life, and teachers make a lasting impact in the lives of their students. &rdquo; </h2>



                    </div>

                    <div class="udb-sec udb-prof" style="margin-bottom:0px; text-align:justify">

                             <!--<div class="mm1-com25 mm1-s1"><a class="course-overlay" href="#">

                                                               </div>-->

                             <div class=" mm1-s1">



                                <p style="padding:10px" align="justify">



                                  The Babu Mahadev Inter College  has  been founded by the  Mr. Bhai Lal Kol (M.L.A of Chhanbey vidhansabha Mirzapur). The purpose of school is to impart the value education among the rural area children. The main motive of the school is to develop the overall personality of a child through many extra curricular activities.
                                We focus on the overall development of a child instead of giving only bookish knowledge.</p>

                            </div>



                        <div class="mm1-s1">

        <h4>Medium of Instruction</h4>

                                <p style="padding:10px">

                                The medium of instruction is Hindi

     </p>

                            </div>



                            <div class=" mm1-s1">

        <h4>Academic Session</h4>

                                <p style="padding:10px">

                                The Academic Session starts from April to March for classes Nursery to XII </p>

                            </div>



                            <div class="mm1-s1">

        <h4>Location of the School</h4>

                                <p style="padding:10px">

                                The school is situated in Jhelampura Barkachh Dubar Kalan  Lalganj Mirzapur .</p>

                            </div>

    <div class="mm1-s1">

        <h4>COURSES OF STUDY</h4>

                                <p style="padding:10px">

                                Our school  is  affiliated  to  UP Board ,  Prayagraj.  We  are  following  the  N.C.E.R.T syllabus  from  class  I  to  XII. </p>

                            </div>

                            <div class="mm1-s1">

        <h4>PARENTS TEACHER MEET</h4>

                                <p style="padding:10px">

                                Parents - Teacher's meeting is held after each examination. </p>

                            </div>

                            <div class="mm1-s1">

        <h4>OFFICE HOURS</h4>

                                <p style="padding:10px">

                                The  school  office  timings  for  parents will  be  as  follows  on:<br />

        <strong>Working  days:	</strong>	<br />

    Summer:  08:00  AM  to  12:30  PM<br />

    Winter:  09:00  AM  to  01:30  PM <br />

     </p>

                            </div>

                            </div>

                            <br /><br />

                            <div class="con-title">

                    <h2>Our <span>Facilities</span></h2>





                </div>







              </div>

              <div class="ed-about-sec1">

                        <div class="ed-advan">

                            <ul>

                                <li>

                                    <div class="ed-ad-img">

                                        <img src="{% static 'images/adv/1.png' %}" alt="">

                                    </div>

                                    <div class="ed-ad-dec">

                                        <h4>Well Equipped Class Rooms &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>

                                    </div>

                                </li>

                                <li>

                                    <div class="ed-ad-img">

                                        <img src="{% static 'images/adv/2.png' %}" alt="">

                                    </div>

                                    <div class="ed-ad-dec">

                                        <h4>Special Nursery Classes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>



                                    </div>

                                </li>

                                <li>

                                    <div class="ed-ad-img">

                                        <img src="{% static 'images/adv/3.png' %}" alt="">

                                    </div>

                                    <div class="ed-ad-dec">

                                        <h4>Well Equipped Composite Science Lab</h4>

                                    </div>

                                </li>

                                <li>

                                    <div class="ed-ad-img">

                                        <img src="{% static 'images/adv/4.png' %}" alt="">

                                    </div>

                                    <div class="ed-ad-dec">

                                        <h4>Well Equipped Computer Lab</h4>



                                    </div>

                                </li>

                                <li>

                                    <div class="ed-ad-img">

                                        <img src="{% static 'images/adv/5.png' %}" alt="">

                                    </div>

                                    <div class="ed-ad-dec">

                                        <h4>Well Maintained Maths Lab</h4>

                                    </div>

                                </li>

                                <li>

                                    <div class="ed-ad-img">

                                        <img src="{% static 'images/adv/6.png' %}" alt="">

                                    </div>

                                    <div class="ed-ad-dec">

                                        <h4>Library with rich collection of books</h4>



                                    </div>

                                </li>



                                <li>

                                    <div class="ed-ad-img">

                                        <img src="{% static 'images/adv/6.png' %}" alt="">

                                    </div>

                                    <div class="ed-ad-dec">

                                        <h4>Sports (Indoor Games & Outdoor Games)</h4>



                                    </div>

                                </li>



                                <li>

                                    <div class="ed-ad-img">

                                        <img src="{% static 'images/adv/6.png' %}" alt="">

                                    </div>

                                    <div class="ed-ad-dec">

                                        <h4>SMS Facility</h4>



                                    </div>

                                </li>





                                <li>

                                    <div class="ed-ad-img">

                                        <img src="{% static 'images/adv/6.png' %}" alt="">

                                    </div>

                                    <div class="ed-ad-dec">

                                        <h4>Experienced & Trained Teachers</h4>



                                    </div>

                                </li>





                                <li>

                                    <div class="ed-ad-img">

                                        <img src="{% static 'images/adv/6.png' %}" alt="">

                                    </div>

                                    <div class="ed-ad-dec">

                                        <h4>Infirmary (Health Room)</h4>



                                    </div>

                                </li>





                                <li>

                                    <div class="ed-ad-img">

                                        <img src="{% static 'images/adv/6.png' %}" alt="">

                                    </div>

                                    <div class="ed-ad-dec">

                                        <h4>Extra Curricular Activities</h4>



                                    </div>

                                </li>





                                <li>

                                    <div class="ed-ad-img">

                                        <img src="{% static 'images/adv/6.png' %}" alt="">

                                    </div>

                                    <div class="ed-ad-dec">

                                        <h4>24 Hrs. Generator Backup</h4>



                                    </div>

                                </li>















                            </ul>

                        </div>

                    </div>

              </div>

              </section>



{% endblock %}
