{% extends 'base.html'%}
{% block content %}
{% load static %}

    <div class="search-top" style="padding:2px 0px">   </div>



  


    <section  >
            <div class="container com-sp pad-bot-70">
                <div class="row">
                    <div class="con-title">
                        <h2>Admission<span> and Withdrawal</span></h2>


                    </div>
                    <div class="udb-sec udb-prof" style="margin-bottom:0px; text-align:justify">
                             <div class="mm1-com25 mm1-s1"><a class="course-overlay" href="#">
                                                                <img src="{% static 'images/logo.png' %}" alt=""></a></div>
                             <div class="mm1-com75 mm1-s1">
                    <p style="padding:10px">1 - The Principal reserves to herself the right to refuse admission to any probable pupil without furnishing any reason. 											</p>
                    <p style="padding:10px">2 - Formal admission is complete only after the application form has been considered by the principal. Ordinarily this is issued after an interview. The paying of the prescribed admission fee does not in itself, satisfy the conditions for admission.											</p>
                    <p style="padding:10px">3 -	No pupil will be admitted to the school without a Transfer Certificate from the last school which he/she attended.										</p>
                    <p style="padding:10px">4 - The school management, acting through the Principal will request the withdrawal of a pupil who fails for two consecutive years in the same class.											</p>
                    <p style="padding:10px">5 - Pupils who remain absent without prior sanction for two school weeks shall be struck off the rolls without explanation.											</p>

                    <p style="padding:10px">6 - Those who leave the school in April or May must pay fees up to and including the month of June; those who leave the school in October or November, January of February must pay fees up to and including the month of December or March respectively.											</p>
                    <p style="padding:10px">7 - A transfer certificate on withdrawal will not be issued until all dues to the school paid.</p>
                            </div>
                            </div>
                </div>

            </div>
        </section>











{% endblock %}
