{% extends 'base.html'%}
{% block content %}
{% load static %}


    <div class="search-top" style="padding:2px 0px">   </div>


    <section  >
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>Co<span> Curriculum Activities</span></h2>


                </div>
				<div class="udb-sec udb-prof" style="margin-bottom:0px; text-align:justify">
                         <div class="mm1-com25 mm1-s1"><a class="course-overlay" href="#">
                                                            <img src="{% static 'images/logo.png' %}" alt="" style="width:200px"></a></div>
						 <div class="mm1-com75 mm1-s1">
                            <p style="padding:10px">Various  Co-curricular  activities  are  held
regularly  in  School  such  as  Declamation,
Debates,  Extempore,  Storytelling,  Quiz,
Music,  Dance,  Rangoli,  Salad  Making,
Collage  Competition  and  other  cultural
programmes.</p>
						</div>
                        </div>
            </div>

        </div>
    </section>










{% endblock %}
