
{% extends 'base.html'%}
{% load static %}

{% block content %}

    <div class="search-top" style="padding:2px 0px">   </div>

	<section  >
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>School<span> Curriculum</span></h2>


                </div>
				<div class="udb-sec udb-prof" style="margin-bottom:0px; text-align:justify">
                         <div class="mm1-com25 mm1-s1"><a class="course-overlay" href="#">
                                                            <img src="{% static 'images/logo.png' %}" alt=""></a></div>
						 <div class="mm1-com75 mm1-s1">

 <p style="padding:10px">
The curriculum of Babu Mahadev Inter College includes English and Hindi Languages and literature, Sanskrit, Mathematics, General Science, Social Science,  Art, Craft, General Knowledge, Physical Education, Value Education, Remedial Classes and Yoga.
</p>
   <p style="padding:10px">
										The programme of studies is planned to give the students a general education in accordance with the aims and objectives of the school. The students are prepared for the Board exam as well as many competitive examination</p>

                        </div>
            </div>

        </div>
    </section>












{% endblock %}
