
{% extends 'base.html'%}
{% block content %}
{% load static %}

    <div class="search-top" style="padding:2px 0px">   </div>


    <section  >
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>Examination <span>  & Promotion</span></h2>


                </div>
				<div class="udb-sec udb-prof" style="margin-bottom:0px; text-align:justify">
                         <div class="mm1-com25 mm1-s1"><a class="course-overlay" href="#">
                                                            <img src="{% static 'images/logo.png' %}" alt=""></a></div>
						 <div class="mm1-com75 mm1-s1">
                            <p style="padding:10px">

    The pass mark for all classes is 60%. Promotion will be given on the basis is of marks in theory, orals and practical tests/examination. A pupil must pass in each subject.</p>
	 <p style="padding:10px">
    On the days when Comprehensive/Exam, Unit tests are held, attendance for the full day is essential. Pupils are NOT permitted just give the tests/exams and return home.
    Special arrangements cannot be made for pupils who for any reason whatever are absent from the main examination or any part of it. Pupils who are absent from any exam for whatever reason, will be awarded zero marks in that particular exam. (All fees due are to be paid before the start of the exams).</p>
	 <p style="padding:10px">
    A pupils who uses unfair means during tests/exams will be given a zero in that subject. Repetition of the same will result instant  action.
</p>
						</div>
                        </div>
            </div>

        </div>
    </section>













{% endblock %}
