
{% extends 'base.html'%}
{% block content %}
{% load static %}


    <div class="search-top" style="padding:2px 0px">   </div>





    <section  >

        <div class="container com-sp pad-bot-70">

            <div class="row">

                <div class="con-title">

                    <h2>ACADEMIC <span> CALENDAR</span></h2>





                </div>

				<div class="udb-sec udb-prof" style="margin-bottom:0px; text-align:justify">

                         <div class="mm1-com25 mm1-s1"><a class="course-overlay" href="#">

                                                            <img src="{% static 'images/logo.png' %}" alt=""></a></div>

						 <div class="mm1-com75 mm1-s1">							<div class="col-md-12">

                    <div>

                        <!--POPULAR COURSES-->

                        <div class="home-top-cour">

                            <!--POPULAR COURSES IMAGE-->



                            <!--POPULAR COURSES: CONTENT-->

                            <div class="col-md-12 home-top-cour-desc">

                                <a href="#">

                                    <h3>ACADEMIC CALENDAR - 2020 - 2021 </h3>

                                </a>

                             <div class="input-field col s12">

                                                <i class="waves-effect waves-light light-btn waves-input-wrapper" >

												<a href="ACADEMY_CALENDAR_2020_21.pdf"  target="_blank"><div class="waves-button-input" style="padding:8px; color:#FFFFF"><strong>DOWNLOAD</strong></div></a>

											</i>

                                            </div>





                            </div>

                        </div>





                    </div>

                </div>

                            <div class="col-md-12">

                    <div>

                        <!--POPULAR COURSES-->

                        <div class="home-top-cour">

                            <!--POPULAR COURSES IMAGE-->



                            <!--POPULAR COURSES: CONTENT-->

                            <div class="col-md-12 home-top-cour-desc">

                                <a href="#">

                                    <h3>ACADEMIC CALENDAR - 2021 - 2022 </h3>

                                </a>

                             <div class="input-field col s12">

                                                <i class="waves-effect waves-light light-btn waves-input-wrapper" >

												<a href="ACADEMY_CALENDAR_2021_22.pdf"  target="_blank"><div class="waves-button-input" style="padding:8px; color:white;"><strong>DOWNLOAD</strong></div></a>

											</i>

                                            </div>





                            </div>

                        </div>





                    </div>

                </div>

						</div>

                        </div>

            </div>



        </div>

    </section>















{% endblock %}
