
{% extends 'base.html'%}
{% block content %}
{% load static %}








    <div class="search-top" style="padding:2px 0px">   </div>





    <section  >

            <div class="container com-sp pad-bot-70">



               <div class="row">

                    <div class="con-title">

                        <h2><span>Founder's Message</span></h2>





                    </div>

                    <div class="udb-sec udb-prof" style="margin-bottom:0px; text-align:justify">

                             <div class="mm1-com25 mm1-s1"><a class="course-overlay" href="#">

                                                                <img src="{% static 'images/founder_1.jpg' %}" alt=""></a>

                                                                <br />

                                                                <br />

                                                                <strong>Pankaj Kol<br />



    Manager<br />

    (Babu Mahadev Inter College)</strong>

                                                                </div>

                             <div class="mm1-com75 mm1-s1">

                                <p style="padding:10px">

                                              Dear Parents, Guardians, Teachers, well wishers, students of Babu Mahadev Inter College.</p>

    <p style="padding:10px">

    Babu Mahadev Inter College  is committed to offer the very best in every aspect of academic to give students sound footing in competitive world.Babu Mahadev Inter College  believes in setting for nothing less than total success and is willing to chase aspirations of students till the point of fulfillment.</p>

    <p style="padding:10px">


    Our priority is to make out difference and translate them into tangible benefits for the student’s fraternity. Today the quality of education is continuously scaling new heights and the new bench marks are constantly set. Thus education having become a very competitive sector, excellence is the only thing that rules supreme here and Babu Mahadev Inter College is committed for the same. Thus we march forward gaining strength and knowledge from our daily experiences of life in imparting quality education and fostering character formation. Besides being value based, our education is career oriented , ensuring the all round development of the students and grooming them into conscious human being and good citizens, who will one day be agents of social justice and societal transformation in their work place and make a differences to the society.
</p>

    <p style="padding:10px">

    At the outset of this occasion, I would like to convey our thanks and best wishes to our teachers and parents, who are associated with us in any manner to provide guidance in the matter because this task cannot be completed without their co-operation. They play integral part in shaping and polishing the skills of the students.</p>

    <p style="padding:10px">

    <strong>This website will give you in glimpse of the educational activities in the school</strong></p>

                            </div>

                            </div>





                </div>





                <div class="row">

                    <div class="con-title">

                    <br />

    <br />




                    <br />

    <br />



                        <h2><span>Principal's Message</span></h2>





                    </div>

                    <div class="udb-sec udb-prof" style="margin-bottom:0px; text-align:justify">

                             <div class="mm1-com25 mm1-s1"><a class="course-overlay" href="#">

                                                                <img src="{% static 'images/principle-img-new.png' %}" alt=""></a>

                                                                <br />

                                                                <br />

                                                                <strong>Mr. Shri Ram Charitra Maurya<br />

    (Principal)<br />

    Babu Mahadev Inter College</strong>

                                                                </div>

                             <div class="mm1-com75 mm1-s1">

                                <p style="padding:10px">
                                  Education is about awakening –Awakening to the power and beauty that lies within all of us.
                                  To my mind education as an idea, is not just about bricks ,mortar and concrete , but about building character , enriching minds and about varied experiences that last a lifetime.
</p>

    <p style="padding:10px">

      Babu Mahadev Inter College  vision is to give the students the all round capability including creativity ,observation and knowledge empowerment leading to the generation of excellent ,performing citizens with sterling character.
</p>

    <p style="padding:10px">

      There is a commitment to an integrated curriculum approach through inquiry learning. The development of higher order thinking skills, risk taking ,adaptability, cooperation, and communication techniques are fostered.
    Babu Mahadev Inter College provide a platform to its students to showcase their inborn talents. We also take utmost care in moulding our children as responsible global citizen.
    We, at Babu Mahadev Inter College are committed to the improvement and growth of student community. We would like to see them soar to new heights and taste success in all their endeavors. We are convinced that the education’s purpose is to replace an empty mind with an open one.
    I expect sincere cooperation from parents and guardians for the attainment of school’s objectives.
</p>



                            </div>

                            </div>





                </div>







            </div>

        </section>




{% endblock %}
