
{% extends 'base.html'%}
{% block content %}
{% load static %}
    <div class="search-top" style="padding:2px 0px">   </div>


    <section  >
        <div class="container com-sp pad-bot-70">
            <div class="row">
                <div class="con-title">
                    <h2>Mandatory <span> Public Disclosure</span></h2>

                </div>
				<div class="tab-inn">
                                    <div class="table-responsive table-desi">
									<strong style="font-size:20px">&nbsp;&nbsp;A - GENERAL INFORMATION</strong>

                                        <table class="table table-hover" border="0"  style="border:solid #000000 0px; ">
                                            <thead>
                                                <tr>
                                                    <th width="47">SL. No.</th>
                                                    <th width="195">&nbsp;INFORMATION</th>
                                                    <th width="168">&nbsp;DETAILS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr >
                                                    <td>1</td>
                                                    <td>&nbsp;NAME OF THE SCHOOL 	</td>
                                                    <td>&nbsp;Babu Mahadev Inter College</td>
                                              </tr>

                                               <tr>
                                                 <td>2</td>
                                                 <td>&nbsp;SCHOOL CODE ( IF APPLICABLE ) </td>
                                                 <td>&nbsp;1292</td>
                                               </tr>
                                               <tr>
                                                 <td>3</td>
                                                 <td>&nbsp; COMPLETE ADDRESS WITH PIN CODE </td>
                                                 <td>&nbsp;Babu Mahadev Inter College Jhelampur Dubar Kalan Mirzapur - 2313001</td>
                                               </tr>
                                               <tr>
                                                 <td>5</td>
                                                 <td>&nbsp;PRINCIPAL NAME & QUALIFICATION  </td>
                                                 <td>&nbsp; Mr. Ram Charitra Maurya ( M.A. , B.Ed )</td>
                                               </tr>
											    <tr>
                                                 <td>6</td>
                                                 <td>&nbsp;SCHOOL EMAIL ID </td>
                                                 <td>&nbsp;babumahadevintercollege@gmail.com</td>
                                               </tr>
											   <tr>
                                                 <td>7</td>
                                                 <td>&nbsp;CONTACT DETAIL ( LANDLINE / MOBILE ) </td>
                                                 <td>&nbsp; 8545812194, 8009743516, 9918805807</td>
                                               </tr>
                                            </tbody>
                                        </table>
                                    </div>


        </div>
    </section>













{% endblock %}
