
{% extends 'base.html'%}
{% block content %}
{% load static %}


    <div class="search-top" style="padding:2px 0px">   </div>


    <section  >

        <div class="container com-sp pad-bot-70">

            <div class="row">

                <div class="con-title">

                    <h2>General <span>  Rules</span></h2>





                </div>

				<div class="udb-sec udb-prof" style="margin-bottom:0px; text-align:justify">

                         <div class="mm1-com25 mm1-s1"><a class="course-overlay" href="#">

                                                            <img src="{% static 'images/logo.png' %}" alt=""></a></div>

						 <div class="mm1-com75 mm1-s1">







				<div class="mm1-s1">

				<h4>FOR STUDENTS</h4>

				<p style="padding:10px">

				1-  Students  are  expected  to  speak  in  Hindi/English  while  in  the  school.</p>
<p style="padding:10px">
      2-  All the students are required to attend the morning assembly every day .  Late

comers  will  be  sent  back  home.</p>



<p style="padding:10px">

3-  Students  are  expected  to  maintain complete  silence  in  the  morning assembly

and  during  school  hours.

</p>

<p style="padding:10px">

4-  No students  will write anything  on  the  walls, doors,  furniture  or  disfigure,

damage  the  School  property .

</p>

<p style="padding:10px">

5-  All application for  leave  is  to  be signed by the  parents. Applications for  leave

on medical grounds are to  be supported by an authentic medical certificate.

No student  suffering  from  a  contagious  disease  will be  allowed  to  attend  the

School till he/she produce a medical certificate from the registered Medical

Practitioner .

</p>

<p style="padding:10px">

6-  No  fee  defaulter  will  be  allowed  to  appear  for  any  test  or  examination.  A

minimum  of  75  %  attendance  is  compulsory  in  school.

</p>

<p style="padding:10px">

7-  No  student  is  allowed  to  leave  the  School  premises  during  school  hours

without  a  prior  permission  of  the  Principal.  In  case  of  any  unforeseen

emergency  the  class  teacher  should  be  informed.

</p>

<p style="padding:10px">

8-  Students  are  not  allowed  to  receive  visitors  during  School  hours.

</p>

<p style="padding:10px">

9-    All  belongings  of  a  student,  that  is,  books,  stationary ,  tiffin  box,  water  bottle,

bag  etc.  must  bear  his/her  name  on  them.  Expensive  items  such  as  gold

jewellery ,  watch, mobile phone, cash, fire  crackers, sharp-edges instruments

etc.  are  totally  prohibited  in  the  school.

</p>

<p style="padding:10px">

10-  Constant  negligence  of  class  work  or  homework,  irregular  attendance,

disobedience,  obscene  behaviour ,  theft  and  violence  will  be  considered  as

serious offences and will lead to severe punishment or even expulsion from

the  School.

</p>

<p style="padding:10px">

11-  Students  are  prohibited  from  driving  any  two  wheeler ,  expect  for  cycles  to

school </p>

				</div>






						</div>

                        </div>

            </div>



        </div>

    </section>


<section  >

        <div class="container com-sp pad-bot-70">

            <div class="row">

                <div class="con-title">

                    <h2>Rules <span> for Parents</span></h2>





                </div>

				<div class="udb-sec udb-prof" style="margin-bottom:0px; text-align:justify">

                         <div class="mm1-com25 mm1-s1"><a class="course-overlay" href="#">

                                                            <img src="{% static 'images/logo.png' %}" alt=""></a></div>

						 <div class="mm1-com75 mm1-s1">

                            <div class="mm1-s1">

				<h4>FOR PARENTS</h4>

				<p style="padding:10px">

1- The  school  diary  is  an  important  means of  co-operation  and  co-ordination  between

the  School,  therefore  the  student  must  carry  it  daily  to  the  school.  Parents  are

requested  to  check  the  diary every  day in  order to  obtain information's  or messages

which  are  been  sent  to  them  by  the  School.

</p>

<p style="padding:10px">

2-  Parents  must  make  their  own  arrangements  for  safe  commuting  between  home  and

the school. The children must be instructed  to return home from the School only

with a known person. 'The School will not be responsible if a child goes out of the

school  with  an  unknown  person.  All  children  should  leave  the  School  campus  within

half-an-hour  after  School.

</p>

<p style="padding:10px">

3-  The  School  does  not  provide  Buses  or  T rolley-Rickshaw's  for  the  students,  an  outsider

does it on the name of the School. The school should not be held responsible for

problems  arising  out  of  the  private  vehicle  owners.

</p>

<p style="padding:10px">



4-  Parents  of  Nursery ,  L.K.G.  and  Prep  should  leave  their  children  with  school  Ayah

inside  the  gate.  Others  (class  1  to  XI)  should  be  left  at  the  main gate  of  the  school  as

they do not require any assistance. Parents are not allowed to enter the class room

without  the  permission  of  the  Principal.

</p>

<p style="padding:10px">

5-  Scooters  and  motorbikes  should  be  parked  by  the  Parents/guardians  on  the  left  hand

side  of the  school  gate only .  No parent is  allowed to  bring his/her vehicle inside  the

School  campus  unless  permitted  by  the  Principal.

</p>

<p style="padding:10px">

6-  Parents should  not allow their  children  to  bring any kind of electronic gadgets such

</p>

<p style="padding:10px">

as  mobile  phones,  ipod  etc.  to  the  School.

7-  Parents  are  requested  to  ensure  that  their  children  must  do  their  home  work

regularly .

</p>

<p style="padding:10px">

8-  Parents  should  also  keep  a  watch  on  the  physical  and  mental  health  of  their  children.

Any  difficulty  or  abnormality  noticed  should  be  promptly  brought  to  the  notice  of  a

Doctor .  A  routine  check-up  by  a  registered  Medical  Practitioner  should  be  done

regularly .</p>

				</div>

						</div>

                        </div>

            </div>



        </div>

    </section>












{% endblock %}
